div.navigation{
    color: darksalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    position: absolute;
    top: 10px;
    right: 10px;
}
div.navigation button{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}


#p1{
    border: ch;
    border-right: dotted;
    border-right-color: blueviolet;
}
body{
    background-color: lightsalmon;
}
#shirish_img{
    position: absolute;
    top: 500px;
    right: 200px;
}

#rand_button{
    background-color: black; 
    height: 100px;
    width: 300px;
}


div#rand_button > button{
    background-color: #d3d5c6; /* Green */
    border: none;
    color: rgba(24, 219, 95, 0.9);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#rand_button_3{
    margin-right: 600px;
}

.hidden-content{
    display: none;
}

div > div > button, .ed, .ed > button{
    /*appearance: none;*/
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

div.div1{
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: absolute;
    top: 10px;
    right: 500px;
}

div.div2{
    width: 300px;
    border: 15px solid blue;
    padding: 10px;
    margin: 10px;
}



.ed{
    position: absolute;
    top: 550px;
    left: 20px;
}

.ed > ul{
    position: absolute;
    top: 10px;
    left: 100px;
    list-style-type: none;
      
}

button:hover{
    color:#2ea44f;
}


